body {
    background: url('clouds_background.jpg');
}

.box {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 25px;
    min-height: 400px;
}


.TextInput {
    font-size: large;
    border: none;
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin: 5px auto;
}

.TextInput:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(50, 100, 153);
}

.Radio {
    font-size: medium;
}

.Button {
    display: block;
    padding: 10px;
    font-size: 1em;
    background: #01B8E4;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 10px auto;
    margin-top: 20px;
    box-shadow: 0 7px 10px #719ECE;
}